* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.9;
  color: #fff;
  background-color: rgb(86, 21, 98);
}

.logo {
  height: 16rem;
  margin: 2rem;
}

.btn {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(43, 22, 124, 0.885);
  background-color: #fff;
  border-radius: 3rem;
  padding: 1rem 3rem;
  margin-top: -12rem;
  cursor: pointer;
  border: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 60rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.formBox {
  background: rgba(43, 22, 124, 0.885);
  width: 750px;
  height: 350px;
  padding: 80px 30px;
  margin-left: 860px;
  margin-top: 15rem;
  transform: translate(-50%, -50%);
  top: 250%;
  left: 75%;
  border-radius: 8px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.formBox * {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.formBox .textArea {
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 20px;
  color: rgba(43, 22, 124, 0.885);
  border: 1.5px solid rgba(43, 22, 124, 0.885);
  border-radius: 5px;
  outline: none;
}

.formBox .formBoxHeader {
  font-size: 4rem;
  margin-top: -8rem;
}

.wordCounterButtons {
  display: flex;
  align-items: center;
  margin-top: -10rem;
  gap: 6rem;
}

.counterBtn {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 2.8rem;
}

.counterBtn .btnSection1 {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(43, 22, 124, 0.885);
  padding: 1rem 4rem;
  margin: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.counterBtn .btnSection2 {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(43, 22, 124, 0.885);
  padding: 1rem 4rem;
  margin: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.counterBtn .btnSection3 {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(43, 22, 124, 0.885);
  padding: 1rem 2rem;
  margin: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.counterBtn .btnSection4 {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(43, 22, 124, 0.885);
  padding: 1rem 2rem;
  margin: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.textLimit {
  margin-top: 0.5rem;
}

.resetBtn {
  font-size: 2rem;
  color: rgba(43, 22, 124, 0.885);
  padding: 0.5rem 3rem;
  border: none;
  margin-top: 0.5rem;
  margin-left: 0rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(43, 22, 124, 0.885);
  color: #fff;
  border: none;
}

.btnSection1:hover {
  background-color: #fff;
  color: rgba(43, 22, 124, 0.885);
  border: none;
}

.btnSection2:hover {
  background-color: #fff;
  color: rgba(43, 22, 124, 0.885);
  border: none;
}

.btnSection3:hover {
  background-color: #fff;
  color: rgba(43, 22, 124, 0.885);
  border: none;
}

.btnSection4:hover {
  background-color: #fff;
  color: rgba(43, 22, 124, 0.885);
  border: none;
}
